.container {
  display: flex;
  flex-direction: row;
  font-size: small;
  margin-right: 20px;

  p {
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 5px;
  }
  .p__miCuanta {
    padding-top: 7px ;
    padding-left: 15px ;
    border-left: 1px solid rgb(255, 255, 255);
  }
  .ralla {
    color: rgb(87, 105, 132);
  }
};

