.navigation {
  display: flex;
  margin-top: 25px;
}

.navigation__one {
  margin-right: 10px;
  border-right: 1px solid #ffffff;
}
.navigation p {
  margin: 0 6px 0 0;
}
.img {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  display: block;
  margin: 0px auto;
}

/* .break {
  height: 1px;
  background-color: aliceblue;
} */