@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

.navBar {
  display: flex;
  justify-content: space-between;
  font-family: "Oxygen";
  font-size: small;
  font-weight:lighter;
  color: white;
}

.logo {
  margin-left: 2%;
  margin-top: 1%;
}

.logo__image {
  height: 70px;
  width: 140px;
}